            <footer>
    			<ul class="top">
    				<li class="sectionFirst">
    					<div>
    						About Our Company
    						<ul>
    							<li>
    								<ul>
    									<li><a href="#">Company History</a></li>
    									<li><a href="#">Company Profile</a></li>
    									<li><a href="#">Mission &amp; Brand</a></li>
    									<li><a href="#">Environmental, Health &amp; Safety, Security</a></li>
    								</ul>
    							</li>
    						 </ul>
    					</div>
    				</li>
    				<li class="sectionMid">
    					<div>
    						Investor Relations
    						<ul>
    							<li>
    								<ul>
    									<li class="first">Financial Information</li>
    									<li><a href="#">Company Financial Profile</a></li>
    									<li><a href="#">Annual Reports &amp; Proxy Statements</a></li>
    									<li><a href="#">Analysis Coverage</a></li>
                                        <li><a href="#">Calendar of Events</a></li>
                                        <li><a href="#">Financial Releases</a></li>
                                        <li><a href="#">Stock Information</a></li>
                                        <li><a href="#">SEC Filings</a></li>
    								</ul>
    							</li>
    							<li>
                                    <ul>
                                        <li class="first">General Information</li>
                                        <li><a href="#">Governance</a></li>
                                        <li><a href="#">Management Team</a></li>
                                        <li><a href="#">Investor FAQs</a></li>
                                        <li><a href="#">Newsroom</a></li>
                                        <li><a href="#">Email Alerts</a></li>
                                        <li><a href="#">Contact Investor Relations</a></li>
                                    </ul>
    							</li>
    						</ul>
    					</div>
    				</li>
    				<li class="sectionLast">
    					<div>
    						Company News
    						<ul>
    							<li>
    								<ul>
    									<li><a href="#">President’s Talk</a></li>
    									<li><a href="#">Customer Service Indicators</a></li>
    									<li><a href="#">Xtreme Customer Service</a></li>
    									<li><a href="#">Awards &amp; Testimonials</a></li>
    								</ul>
    							</li>
    							<li>
    								<ul>
    									<li>Customer CSIs</li>
    									<li><a href="#">Media Kit</a></li>
    									<li><a href="#">News Releases</a></li>
    									<li><a href="#">Employee eMagazine</a></li>
    									<li><a href="#">Study Request</a></li>
    								</ul>
    							</li>
    						</ul>
    					</div>
    				</li>
    			</ul>
    			<div class="spacer"></div>
    			<div class="bottom">
					<ul>
    				<li>&copy; 2012 Saia, All Rights Reserved</li>
						<li><a href="sitemap.html">Sitemap</a></li>
						<li><a href="sitemap.html">Website Terms of Use</a></li>
						<li><a class="cbOpen" href="modals/leaving.html">Company Store</a></li>
						<li><a class="cbOpen" href="modals/employee-login.html">Employee Login</a></li>
					</ul>
					<ul>
						<li id="copy"><a href="http://www.bigwowdesign.com" target="_blank">Website: Big Wow Design</a></li>
					</ul>
    			</div>
    		</footer>
	    </div>
		<script type="text/javascript" src="assets/js/jquery.colorbox.js"></script>
        <script type="text/javascript" src="assets/js/jquery.placeholder.fix.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$(".cbOpen").colorbox();
				$(".cbClose").live('click',function(){$.colorbox.close();});
			});
		</script>
        <script src="assets/js/global.js"></script>