            <footer>
    			<ul class="top">
    				<li class="section">
    					<div>
    						Shipping Services
    						<ul>
    							<li>
    								<ul>
    									<li><a href="regional-ltl.shtml">Regional LTL</a></li>
    									<li><a href="multi-regional.shtml">Multi-Regional</a></li>
    									<li><a href="truckload.shtml">Truckload</a></li>
    									<li><a href="dist-cons.shtml">Distribution &amp; Consolidation</a></li>
										<li><a href="xtreme-guarantee.shtml">Xtreme Guarantee</a></li>
    								</ul>
    							</li>
    							<li>
    								<ul>
    									<li><a href="xtreme-assurance.shtml">Xtreme Assurance</a></li>
    									<li><a href="guarantee-select.shtml">Guarantee Select</a></li>
    									<li><a href="canada.shtml">Canada</a></li>
    									<li><a href="mexico.shtml">Mexico</a></li>
    									<li><a href="partner-network.shtml">Partner Network</a></li>
    								</ul>
    							</li>
    						 </ul>
    					</div>
    				</li>
    				<li class="section">
    					<div>
    						Resource Center
    						<ul>
    							<li>
    								<ul>
    									<li><a href="super-rater.shtml">SuperRater+</a></li>
    									<li><a href="fuel-surcharge.shtml">Fuel Surcharge</a></li>
    									<li><a href="rules-charges.shtmls">Rules &amp; Special Charges</a></li>
    									<li><a href="forms-documents.shtml">Forms &amp; Documents</a></li>
										<li><a href="reporting-capabilities.shtml">Reporting Capabilities</a></li>
    								</ul>
    							</li>
    							<li>
    								<ul>
    									<li><a href="web-services.shtml">Web Services</a></li>
    									<li><a href="weather-info.shtml">Weather Information</a></li>
    									<li><a href="holidays.shtml">Holidays</a></li>
    									<li><a href="glossary.shtml">Glossary of Terms</a></li>
    									<li><a href="faqs.shtml">FAQs</a></li>
    								</ul>
    							</li>
    						</ul>
    					</div>
    				</li>
    				<li class="section">
    					<div>
    						Customer Service
    						<ul>
    							<li>
    								<ul>
    									<li><a class="cbOpen" href="modals/doc-view-request.html">View Documents</a></li>
    									<li><a class="cbOpen" href="modals/track-report.html">Daily Tracking Report</a></li>
    									<li><a href="service-reports.shtml">Service Reports</a></li>
    									<li><a class="cbOpen" href="modals/custom-reporting.html">Custom Reporting</a></li>
    									<li><a class="cbOpen" href="modals/ship-status-report.html">Status Report</a></li>
    									<li><a class="cbOpen" href="modals/notification-request.html">Notification Request</a></li>
    								</ul>
    							</li>
    							<li>
    								<ul>
    									<li><a class="cbOpen" href="modals/customer-csis.html">Customer CSIs</a></li>
    									<li><a class="cbOpen" href="modals/ebilling-request.html">E-Billing</a></li>
    									<li><a class="cbOpen" href="modals/epay.html">Register for E-Pay</a></li>
    									<li><a class="cbOpen" href="modals/bill-adjustment.html">Bill Adjustment</a></li>
    									<li><a href="file-claim.shtml">File a Claim</a></li>
    								</ul>
    							</li>
    						</ul>
    					</div>
    				</li>
    			</ul>
    			<div class="spacer"></div>
    			<div class="bottom">
					<ul>
    				<li>&copy; 2012 Saia, All Rights Reserved</li>
						<li><a href="sitemap.shtml">Sitemap</a></li>
						<li><a href="terms-of-use.shtml">Website Terms of Use</a></li>
						<li><a class="cbOpen" href="modals/leaving.html">Company Store</a></li>
						<li><a class="cbOpen" href="modals/employee-login.html">Employee Login</a></li>
					</ul>
					<ul>
						<li id="copy"><a href="http://www.bigwowdesign.com" target="_blank">Website: Big Wow Design</a></li>
					</ul>
    			</div>
    		</footer>
	    </div>
		<script type="text/javascript" src="assets/js/jquery.colorbox.js"></script>
        <script type="text/javascript" src="assets/js/jquery.placeholder.fix.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$(".cbOpen").colorbox();
				$(".cbClose").live('click',function(){$.colorbox.close();});
			});
		</script>
        <script type="text/javascript">
            $(document).ready(function(){ 
                $("input[name=disposition]").change(function() {
                    var test = $(this).val();
                    $(".desc").hide();
                    $("#"+test).show();
                }); 
            });
        </script>
        <script src="assets/js/global.js"></script>