		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link href="assets/css/reset.css" rel="stylesheet">
		<link href="assets/css/colorbox.css" rel="stylesheet">
		<link href="assets/css/selectbox.css" rel="stylesheet">
		<link href="assets/css/main.css" rel="stylesheet">
		<link href="assets/css/lb.css" rel="stylesheet">
		<link href="assets/css/jquery-ui-1.8.22.custom.css" rel="stylesheet">
		<link href="assets/css/jquery-bubble-popup-v3.css" rel="stylesheet">
		<link href="assets/css/enhanced.css" type="text/css" rel="stylesheet" />
		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements --> 
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	</head>

	<body>
        <div class="container">
            <header>
    			<div id="logo"><a href="index.shtml"><img src="assets/img/logo_inc.png" alt="Saia Logo" /></a></div>
    			<div id="topLinks">
    				<ul>
    					<li><a href="../saia/index.shtml">LTL Freight</a></li>
    					<li><a href="#">TL Plus</a></li>
    					<li><a href="#">Logistics Services</a></li>
    					<li><span>|</span></li>
    					<li><a href="careers.shtml">Careers</a></li>
    					<li><a href="#">Contact</a></li>
    				</ul>
    			</div>
    			<hr />
    			<div id="headerLinks">
    				<ul id="mainMenu">
						<li class="first-child">
							<a href="#">About Our Company</a>
							<ul class="menu threeLineHeight">
								<li class="first-child">
									<img src="assets/img/menu_company.png" alt="Company Icon" />
									<ul class="subMenu">
										<li><a href="profile.shtml">Company Profile</a></li>
										<li><a href="history.shtml">Company History</a></li>
										<li><a href="mission.shtml">Mission &amp; Brand</a></li>
									</ul>
								</li>
								<li class="last-child">
									<img src="assets/img/menu_environ.png" alt="Environment Icon" />
									<ul class="subMenu">
										<li><a href="environment-hss-s.shtml">Environment, Health &amp; Safety, &amp; Security</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">Investor Relations</a>
							<ul class="menu">
								<li class="twoCol">
									<div><img src="assets/img/menu_reports.png" alt="Reports Icon" /></div>
									<ul class="subMenu twoColSubMenu">
										<li><a href="financial-profile.shtml">Company Financial Profile</a></li>
										<li><a href="#">Annual Reports &amp; Proxy Statements</a></li>
										<li><a href="#">Analyst Coverage</a></li>
									</ul>
									<ul class="subMenu twoColSubMenu">
										<li><a href="#">Calendar of Events</a></li>
										<li><a href="financial-releases.shtml">Financial Releases</a></li>
										<li><a href="#">Stock Information</a></li>
										<li><a href="#">SEC Filings</a></li>
									</ul>
								</li>
								<li class="twoColLast">
									<img src="assets/img/menu_management.png" alt="Management Icon" />
									<ul class="subMenu">
										<li><a href="#">Governance</a></li>
										<li><a href="#">Management</a></li>
										<li><a href="#">Investor FAQs</a></li>
										<li><a href="#">Newsroom</a></li>
										<li><a href="#">Email Alerts</a></li>
										<li><a href="#">Contact</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">Company News</a>
							<ul class="menu twoCol">
								<li class="twoColFirst">
									<img src="assets/img/menu_service.png" alt="Service Icon" />
									<ul class="subMenu">
										<li><a href="presidents-talk.shtml">President's Talk</a></li>
										<li><a href="csis.shtml">Customer Service Indicators</a></li>
										<li><a href="xtreme-cust-service.shtml">Xtreme Customer Service</a></li>
										<li><a href="awards.shtml">Awards</a></li>
										<li><a href="testimonials.shtml">Testimonials</a></li>
									</ul>
								</li>
								<li class="last-child">
									<img src="assets/img/menu_news.png" alt="News Icon" />
									<ul class="subMenu">
										<li><a href="media-kit.shtml">Media Kit</a></li>
										<li><a href="news-releases.shtml">News Releases</a></li>
										<li><a href="employee-emag.shtml">Employee eMagazine</a></li>
										<li><a class="cbOpen" href="modals/study-request.html">Study Request</a></li>
									</ul>
								</li>
							</ul>
						</li>
    				</ul>
    				<ul id="last">
    					<li><a class="cbOpen" href="modals/customer-login.html">Customer Login</a></li>
    					<li>|</li>
    					<li><a class="cbOpen" href="modals/search.html"><img src="assets/img/ico_search.png" width="20" height="20" alt="search icon" /></a></li>
    				</ul>
    			</div>
    		</header>