		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link href="assets/css/reset.css" rel="stylesheet">
		<link href="assets/css/colorbox.css" rel="stylesheet">
		<link href="assets/css/selectbox.css" rel="stylesheet">
		<link href="assets/css/main.css" rel="stylesheet">
		<link href="assets/css/lb.css" rel="stylesheet">
		<link href="assets/css/jquery-ui-1.8.22.custom.css" rel="stylesheet">
		<link href="assets/css/jquery-bubble-popup-v3.css" rel="stylesheet">
		<link href="assets/css/enhanced.css" type="text/css" rel="stylesheet" />
		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements --> 
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="assets/js/jquery.selectbox-0.5.js"></script>
        <script type="text/javascript" src="assets/js/jquery-ui-1.8.22.custom.min.js"></script>
        <script type="text/javascript" src="assets/js/jquery.listnav.pack-2.1.js"></script>
        <script type="text/javascript" src="assets/js/jquery-bubble-popup-v3.min.js"></script>
        <script type="text/javascript" src="assets/js/jquery-dynamic-form-elements.js"></script>
        <script type="text/javascript" src="assets/js/jQuery.fileinput.js"></script>
        <script type="text/javascript" src="assets/js/example.js"></script>
        <script type="text/javascript">
			$(document).ready(function() {
			    $("input[name$='disposition']").click(function() {
			        var test = $(this).val();
			        $("div.desc").hide();
			        $("#" + test).show();
			    });
			    $("input[name$='points']").click(function() {
			        var test = $(this).val();
			        $("div.desc").hide();
			        $("#" + test).show();
			    });
			});​
		</script>
        <script type="text/javascript">
	        $(document).ready(function() {
	            $('.select:not([multiple])').selectbox();
	        });
        </script>
        <script>
			$(function(){
				$(".accordion").accordion({active: false, collapsible: true, header: "h2", autoHeight: false});
			});
			$('.accordion .head').click(function() {
			    $(this).next().toggle('slow');
			    return false;
			}).next().hide();
			$(function(){
				$(".accordion1").accordion({active: false, collapsible: true, header: "h3", autoHeight: false});
			});
		</script>
		<script>
			$(function(){
				$('#glossaryList').listnav({
				    initLetter: 'a',
				    includeAll: false,
				    includeOther: false,
				    flagDisabled: false,
				    showCounts: false,
				    prefixes: ['the','a']
				});
			});
		</script>
		<script type="text/javascript">
			<!--
			$(document).ready(function(){
				$('.popup').CreateBubblePopup({
					position : 'right',
					align	 : 'center',
					innerHtmlStyle: {
										color:'#fff', 
										'text-align':'left',
										'padding':'3px 6px',
										'font':'11px Helvetica, Arial, sans-serif',
										'line-height':'1.5em',
										'width':'320px'
									},
					themeName: 'all-black',
					themePath: 'assets/img/jquerybubblepopup-themes'
				});
				$('#popupReportType').SetBubblePopupInnerHtml('This option gives you the ability to choose what type of Report you would like to recieve:<br /><br /><b>Shipper Service Report</b> - Report that measures on-time service based on orgin location.<br /><b>Consignee Service Report</b> - Report that measures on-time service based on destination location.');
				$('#popupReportDisp').SetBubblePopupInnerHtml('This option gives you the ability to choose whether you would like to recieve your report via Email or Fax. By default it will place your email address you specified when you requested your Saia Secure account, and it will be checked. You can also change the email you wish to send the report to. If you wish to send it to a Fax instead you simply check off the circle next to Fax and enter the Fax number in the following format:<br /><br />(###)###-####.');
				$('#popupDate').SetBubblePopupInnerHtml('This option allows you to supply us with the date you wish to start  or end your service report. The range between the above two options must be no greater than 3 months.');
				$('#popupSortOpt').SetBubblePopupInnerHtml('This option gives you the ability to have the report sorted for your needs:<br /><br /><b>Pro Number</b> - Number used to identify a freight bill<br /><b>Pickup Date</b> - Actual date shipment was picked up<br /><b>Delivery Date</b> - Date of delivery<br /><b>Shipper/Consignee Name*</b> - Name of organization that ships/recieves the articles<br /><b>Inbound/Outbound State*</b> - State of organization that ships/recieves the articles<br /><br />* This sort option varies on the Report Type you select. For example, if you select a Report Type of Shipper Service Report and you select to sort by Shipper/Consignee Name it will sort by Consignee Name, and if you select to sort by Inbound/Outbound State it will sort by the Inbound State.');
			});
			//-->
		</script>
	</head>

	<body>
        <div class="container">
            <header>
    			<div id="logo"><a href="index.shtml"><img src="assets/img/logo_inc.png" alt="Saia Logo" /></a></div>
    			<div id="topLinks">
    				<ul>
    					<li><a href="#">LTL Freight</a></li>
    					<li><a href="#">TL Plus</a></li>
    					<li><a href="#">Logistics Services</a></li>
    					<li><span>|</span></li>
    					<li><a href="careers.shtml">Careers</a></li>
    					<li><a href="#">Contact</a></li>
    				</ul>
    			</div>
    			<hr />
    			<div id="headerLinks">
    				<ul id="mainMenu">
						<li class="first-child">
							<a href="#">About Our Company</a>
							<ul class="menu threeLineHeight">
								<li class="first-child">
									<img src="assets/img/menu_company.png" alt="Company Icon" />
									<ul class="subMenu">
										<li><a href="profile.shtml">Company Profile</a></li>
										<li><a href="history.shtml">Company History</a></li>
										<li><a href="mission.shtml">Mission &amp; Brand</a></li>
									</ul>
								</li>
								<li class="last-child">
									<img src="assets/img/menu_environ.png" alt="Environment Icon" />
									<ul class="subMenu">
										<li><a href="environment-hss-s.shtml">Environment, Health &amp; Safety, &amp; Security</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">Investor Relations</a>
							<ul class="menu">
								<li class="twoCol">
									<div><img src="assets/img/menu_reports.png" alt="Reports Icon" /></div>
									<ul class="subMenu twoColSubMenu">
										<li><a href="#">Company Financial Profile</a></li>
										<li><a href="#">Annual Reports &amp; Proxy Statements</a></li>
										<li><a href="#">Analyst Coverage</a></li>
									</ul>
									<ul class="subMenu twoColSubMenu">
										<li><a href="#">Calendar of Events</a></li>
										<li><a href="#">Financial Releases</a></li>
										<li><a href="#">Stock Information</a></li>
										<li><a href="#">SEC Filings</a></li>
									</ul>
								</li>
								<li class="twoColLast">
									<img src="assets/img/menu_management.png" alt="Management Icon" />
									<ul class="subMenu">
										<li><a href="#">Governance</a></li>
										<li><a href="#">Management</a></li>
										<li><a href="#">Investor FAQs</a></li>
										<li><a href="#">Newsroom</a></li>
										<li><a href="#">Email Alerts</a></li>
										<li><a href="#">Contact</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">Company News</a>
							<ul class="menu twoCol">
								<li class="twoColFirst">
									<img src="assets/img/menu_service.png" alt="Service Icon" />
									<ul class="subMenu">
										<li><a href="presidents-talk.shtml">President's Talk</a></li>
										<li><a href="csis.shtml">Customer Service Indicators</a></li>
										<li><a href="xtreme-cust-service.shtml">Xtreme Customer Service</a></li>
										<li><a href="awards.shtml">Awards</a></li>
										<li><a href="testimonials.shtml">Testimonials</a></li>
									</ul>
								</li>
								<li class="last-child">
									<img src="assets/img/menu_news.png" alt="News Icon" />
									<ul class="subMenu">
										<li><a href="media-kit.shtml">Media Kit</a></li>
										<li><a href="news-releases.shtml">News Releases</a></li>
										<li><a href="employee-emag.shtml">Employee eMagazine</a></li>
										<li><a class="cbOpen" href="modals/study-request.html">Study Request</a></li>
									</ul>
								</li>
							</ul>
						</li>
    				</ul>
    				<ul id="last">
    					<li><a class="cbOpen" href="modals/customer-login.html">Customer Login</a></li>
    					<li>|</li>
    					<li><a class="cbOpen" href="modals/search.html"><img src="assets/img/ico_search.png" width="20" height="20" alt="search icon" /></a></li>
    				</ul>
    			</div>
    		</header>