						<div id="newsBrief">
    						<h1>Saia News Brief</h1>
    						<ul>
    							<li><a href="news-releases.shtml">Saia announces new truckload division - find out more&hellip;</a></li>
    							<li><a href="news-releases.shtml">Saia Logistics is the new division specializing in coordinating all your transportation needs&hellip;</a></li>
    							<li><a href="news-releases.shtml">Saia Select allows you to pick the delivery time that best fits your needs find out more&hellip;</a></li>
    							<li><a href="news-releases.shtml">Saia’s new websites offer a better user experience&hellip;</a></li>
    							<li class="last-child"><a href="news-releases.shtml">Saia LTL Freight - the service that started it all&hellip;</a></li>
    						</ul>
    					</div>
						<div id="announcingInc">
    						<h1>Announcing</h1>
    						<h2>The Saia LTL mobile app</h2>
							<!-- <img src="assets/img/img_phones.png" alt="App Image" /> -->
                            <div id="announcingIncImg"></div>
    					</div>